@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;  
  --font-inter: var(--font-inter);
  --font-anton: var(--font-anton);
  --font-montserrat: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(4,8,25);
  font-family: var(--font-inter), system-ui, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
